version: '3.8'
services:
  app:
    build: .
    container_name: fitopharm_app
    ports:
      - "80:3000"
    restart: always
    command: npm start
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true