
version: '3.8'

services:
  app:
    build: .
    container_name: fitopharm_prod
    
    # Открываем сайт на 80 порту (стандартный для веба), 
    # который перенаправляет на 3000 внутри контейнера
    ports:
      - "80:3000"
    
    # Важно: пробрасываем файлы, которые должны сохраняться
    volumes:
      # База данных (чтобы не стерлась при обновлении)
      - ./database.sqlite:/usr/src/app/database.sqlite
      
      # Папка с логами/диалогами (если она используется)
      - ./data:/usr/src/app/data
      
      # (Опционально) Папка public, если хотите менять иконки/стили прямо на сервере без пересборки
      # - ./public:/usr/src/app/public

    # Автоматический перезапуск, если сервер перезагрузится или приложение упадет
    restart: always

    environment:
      - NODE_ENV=production