version: '3.8'

services:
  app:
    build: .
    container_name: fitopharm_prod
    ports:
      - "80:3000"
    volumes:
      - ./database.sqlite:/usr/src/app/database.sqlite
      - ./data:/usr/src/app/data
    restart: always
    environment:
      - NODE_ENV=production