services:
  fitofarm:
    container_name: fitofarm_app
    build: .
    restart: always
    environment:
      - BASE_URL=
      - DB_FILE=database_fitofarm.sqlite
      - DATA_FOLDER=data/fitofarm
    volumes:
      - ./data:/app/data
      - ./database_fitofarm.sqlite:/app/database_fitofarm.sqlite
  callcenter:
    container_name: callcenter_app
    build: .
    restart: always
    environment:
      - BASE_URL=/callcenter
      - DB_FILE=database_callcenter.sqlite
      - DATA_FOLDER=data/callcenter
    volumes:
      - ./data:/app/data
      - ./database_callcenter.sqlite:/app/database_callcenter.sqlite

  nginx:
    image: nginx:alpine
    container_name: fitofarm_gateway
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - fitofarm
      - callcenter