@font-face {
    font-family: 'Manrope';
    src: url('./fonts/Manrope-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('./fonts/MYRIADPRO-REGULAR.OTF');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('./fonts/MYRIADPRO-SEMIBOLD.OTF');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('./fonts/MYRIADPRO-BOLD.OTF');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('./fonts/MyriadPro-Light.otf');
    font-weight: 300;
    font-style: normal;
}